.Row {
  height: 100vh;
}

.Header {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #2e4c40;
}

.Input {
  border: 1px solid #d4e4e4;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.Link {
  text-align: center;
  text-decoration: none;
  color: #2e4c40;
}

.Link span {
  font-weight: bold;
  color: #6b8e8e;
}

.SignUpCol {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f9fa;
}
